<html>
<head>
<title>Arcateca, select no Noé!</title>
<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-24818962-1']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>
</head>
<body>
<a href="/">Back Home</a>
<br>
<h1>{{ nome }}</h1>
<h2>Games</h2>
<table>
{% for game in games %}
<tr>
<td><img src="/img/{{ game.0 }}"/></td>
<td>{{ game.1 }}</td>
</tr>
{% endfor %}
</table>
<br>
<h3><a href="/collection/{{ collection }}/games/new">Add Game</a></h3>
<h2>Movies</h2>
<table>
{% for movie in movies %}
<tr>
<td><img src="/img/{{ movie.0 }}"/></td>
<td>{{ movie.1 }}</td>
</tr>
{% endfor %}
</table>
<br>
<h3><a href="/collection/{{ collection }}/movies/new">Add Movie</a></h3>
</html>
