<html>
<head>
<title>Arcateca, select no Noé!</title>
</head>
<body>
<a href="/">Voltar para Home</a>
<br>
<h1>{{ nome }}</h1>
<h2>Jogos</h2>
<table>
{% for game in games %}
<tr>
<td><img src="/img/{{ game.0 }}"/></td>
<td>{{ game.1 }}</td>
</tr>
{% endfor %}
</table>
<br>
<h3><a href="/collection/{{ collection }}/games/new">Adicionar Jogo</a></h3>
<h2>Filmes</h2>
<table>
{% for movie in movies %}
<tr>
<td><img src="/img/{{ movie.0 }}"/></td>
<td>{{ movie.1 }}</td>
</tr>
{% endfor %}
</table>
<br>
<h3><a href="/collection/{{ collection }}/movies/new">Adicionar Filme</a></h3>
</html>
