<html>
<head>
<title>Arcateca, select no Noé!</title>
<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-24818962-1']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>
</head>
<body>
<div id="search">
{% if results|length_is:"0" %}
No movie found
{% else %}
<table>
<tr>
<td>Add</td>
<th colspan="2">Movie</th>
<th>Type</th>
<th>Watched it?</th>
</tr>
{% for result in results %}
<tr>
<td><input type="checkbox" name="{{ result.2 }}"/></td>
<td><img src="/img/{{ result.0 }}"/></td>
<td>{{ result.1 }}</td>
<td><select name="type_{{ result.2 }}">
<option name=dvd value=1>DVD</option>
<option name=bd value=2>Blu-ray</option>
<option name=vhs value=3>VHS</option>
</select></td>
<td><input type="checkbox" name="watched_{{ result.2 }}" checked/></td>
</tr>
{% endfor %}
</table>
{% endif %}
</div>
</body>
</html>